@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.card{
    width: 250px;
}
.box-width{
    margin-left: 0px;
    margin-right: 0px;
}

.bigger{
    margin-left: 10rem;
    margin-right: 10rem;
}

.footer-margin{
    margin-bottom: 0px;
    padding: 1.5rem;
    color: white;
}

.padding-navbar{
    padding-left: 9rem;
    padding-right: 9rem;
}